<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <% if(permission>=0) {%>
            <li class="navigation-header"><span>Gestion</span><i class=" ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Apps"></i></li>
            <% } %>
            <% if(permission>=0) {%>
                <li class="nav-item <%= page=='home'?'active':'' %>"><a href="/manager"><i class="ft-home"></i><span class="menu-title" data-i18n="">Home</span></a></li>
            <% } %>
            <% if(permission>=0) {%>
                <li class="nav-item <%= page=='statistics'?'active':'' %>"><a href="/manager/statistics"><i class="ft-bar-chart-2"></i><span class="menu-title" data-i18n="">Statistics</span></a></li>
            <% } %>
            <% if(permission>=1) {%>
                <li class="nav-item <%= page=='automation'?'active':'' %>"><a href="/manager/automation"><i class="ft-sliders"></i><span class="menu-title" data-i18n="">Automation</span></a></li>
            <% } %>
            <% if(permission==2) {%>
                <li class="nav-item <%= page=='users'?'active':'' %>"><a href="/manager/users"><i class="ft-user"></i><span class="menu-title" data-i18n="">Users</span></a></li>
            <% } %>
            <% if(permission>=1) {%>
            <li class="nav-item <%= page=='alarm'?'active':'' %>"><a href="/manager/alarm"><i class="ft-alert-triangle"></i><span class="menu-title" data-i18n="">Alarm</span></a></li>
            <% } %>
            <% if(permission>=1) {%>
                <li class="navigation-header"><span>Devices</span><i class=" ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Apps"></i></li>
            <% } %>
            <% if(permission>=1) {%>
                <li class="nav-item <%= page=='rooms'?'active':'' %>"><a href="/manager/inventory"><i class="ft-list"></i><span class="menu-title" data-i18n="">Inventory</span></a></li>
            <% } %>
            <% if(permission>=1) {%>
                <li class="nav-item <%= page=='zwave'?'active':'' %>"><a href="/manager/register"><i class="ft-plus-square"></i><span class="menu-title" data-i18n="">Register</span></a></li>
            <% } %>
        </ul>
    </div>
</div>