<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <% if(permission>=0) {%>
            <li class="navigation-header"><span>Management</span><i class=" ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Apps"></i></li>
            <% } %>
            <% if(permission>=0) {%>
                <li class="nav-item <%= page=='home'?'active':'' %>"><a href="/home"><i class="ft-home"></i><span class="menu-title" data-i18n="">Home</span></a></li>
            <% } %>
            <% if(permission>=0) {%>
                <li class="nav-item <%= page=='statistic'?'active':'' %>"><a href="/statistic"><i class="ft-bar-chart-2"></i><span class="menu-title" data-i18n="">Statistics</span></a></li>
            <% } %>
            <% if(permission>=1) {%>
                <li class="nav-item <%= page=='rule'?'active':'' %>"><a href="/rule"><i class="ft-sliders"></i><span class="menu-title" data-i18n="">Rule</span></a></li>
            <% } %>
            <% if(permission>=1) {%>
            <li class="nav-item <%= page=='automation'?'active':'' %>"><a href="/automation"><i class="ft-refresh-cw"></i><span class="menu-title" data-i18n="">Automation</span></a></li>
            <% } %>
            <% if(permission==2) {%>
                <li class="nav-item <%= page=='user'?'active':'' %>"><a href="/user"><i class="ft-user"></i><span class="menu-title" data-i18n="">Users</span></a></li>
            <% } %>
            <% if(permission>=1) {%>
                <li class="navigation-header"><span>Inventory</span><i class="ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Apps"></i></li>
            <% } %>
            <% if(permission>=1) {%>
                <li class="nav-item <%= page=='device'?'active':'' %>"><a href="/device"><i class="ft-cpu"></i><span class="menu-title" data-i18n="">Device</span></a></li>
            <% } %>
            <% if(permission>=1) {%>
                <li class="nav-item <%= page=='location'?'active':'' %>"><a href="/location"><i class="ft-map-pin"></i><span class="menu-title" data-i18n="">Location</span></a></li>
            <% } %>
            <% if(permission>=1) {%>
            <li class="nav-item <%= page=='dependency'?'active':'' %>"><a href="/dependency"><i class="ft-layers"></i><span class="menu-title" data-i18n="">Dependency</span></a></li>
            <% } %>
            <% if(permission>=1) {%>
            <li class="navigation-header"><span>Alarm</span><i class="ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Apps"></i></li>
            <% } %>
            <% if(permission>=1) {%>
            <li class="nav-item <%= page=='alarm'?'active':'' %>"><a href="/alarm"><i class="ft-alert-triangle"></i><span class="menu-title" data-i18n="">Alarm</span></a></li>
            <% } %>
            <% if(permission>=1) {%>
            <li class="nav-item <%= page=='log'?'active':'' %>"><a href="/log"><i class="ft-menu"></i><span class="menu-title" data-i18n="">Log</span></a></li>
            <% } %>
        </ul>
    </div>
</div>